<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="unitDataUrl" value="https://datahub.io/core/currency-codes/r/codes-all.json" />
    <add key="requestedCurrencies" value="USD,EUR,JPY,GBP,AUD,CHF,CNY,HKD,MXN,INR,CAD" />
    <add key="baseCurrency" value="CAD" />
    <add key="startYear" value="2017" />
    
    <add key="baseDataUrl" value="https://www.bankofcanada.ca/valet"/>
    <add key="listDataPath" value="/observations/group/FX_RATES_DAILY/json" />
  </appSettings>
</configuration>